@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DungGeunMo";
  src: url("../public/DungGeunMo.woff2") format("woff2"),
    url("../public/DungGeunMo.woff") format("woff"),
    url("../public/DungGeunMo.eot") format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "DungGeunMo", sans-serif;
  /* background-color: #e5e5f7; */
  /* opacity: 1;
  background-image: radial-gradient(
      #444cf7 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    radial-gradient(#444cf7 1.4000000000000001px, #e5e5f7 1.4000000000000001px);
  background-size: 56px 56px;
  background-position: 0 0, 28px 28px; */
}
