.progress-bar-container {
  width: 100%;
  height: 20px;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  box-shadow: 4px 0, -4px 0, 0 4px, 0 -4px;
  position: relative;
}

.progress-bar-container::before {
  top: -4px;
  left: 0;
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  content: "";
  border-color: #212529;
  border-style: solid;
}

.progress-bar-container ::after {
  top: 0;
  left: -4px;
  border-bottom: 2px;
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  content: "";
  border-color: #212529;
  border-style: solid;
}

.progress-bar {
  background-color: #00ff00;
  transition: width 0.3s ease;
  height: 100%;
}

.progress-step {
  position: absolute;
  padding-right: 5px;
  top: 50%;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}
