.resetBtn {
  width: 100%;
  border: 2px solid black;
  padding: 3rem;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  color: black;
  margin: 15px 5px;
  border-radius: 0.25rem;
  background-color: #0aa;
  box-shadow: 10px 10px 0 #000;
}

.correct {
  color: #0ba95b;
}

.wrong {
  color: #ec3323;
}
